<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>
            Brick's URL Builder
        </title>
        <link rel="stylesheet" href="css/foundation.css" type="text/css">
    
    </head>
    <body>
        <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Brick's Tracking Pixel and UTM URL Builder</a></h1>
    </li>
  </ul>
</nav>

<br/>
<br/>
        <div ng-app="myApp">
            <h1>Required Data</h1>
            <div class="large-6 columns">
                <label style="font-size:16px;">Landing Page URL<small> required</small></label> <input type="text" ng-model="data.url" autofocus="" placeholder="URL of your website landing page. ex. http://advertise-with.brickand.win/holiday-deals">
            
            </div>
            <div class="large-6 columns">
                <label style="font-size:16px;">Google Analytics UA-#<small> required</small></label> <input type="text" ng-model="data.ua" autofocus="" placeholder="UA-########-##">
            </div>
            <div class="large-6 columns">
                <label style="font-size:16px;">Campaign Name<small> required</small></label> <input type="text" ng-model="data.campaignName" placeholder="Name of the campaign. ex. christmas-coupon-20161101">
            </div>
            <div class="large-6 columns">
                <label style="font-size:16px;">Source<small> required</small></label> <input type="text" ng-bind="?utm=" ng-model="data.source" placeholder="campaign origination ex. appnexus, twitter, facebook, etc.">
            </div>
            <div class="large-6 columns">
                <label style="font-size:16px;">Medium<small> required</small></label> <input type="text" ng-model="data.medium" placeholder="Type of content used. ex. banner-ad, newsletter, etc.">
            </div>
            <div class="row">&nbsp;<br/></div>

            <h1>Optional Data</h1>
            <div class="large-6 columns">
                <label style="font-size:16px;">Campaign Term</label> <input type="text" ng-model="data.campaignTerm" placeholder="For paid keywords">
            </div>
            <div class="large-6 columns">
                <label style="font-size:16px;">Campaign Content</label> <input type="text" ng-model="data.campaignContent" placeholder="Terms used in marketing content. ex. Free vs. 20% off">
            </div>
                <!-- this is the quicker way to add the content -->
                <h2 ng-show="data.url" style="text-align:center">
                    Your UTM URL
                </h2>
             <div ng-show="data.url" >   
                <textarea rows="1" ng-trim="true" style="font-size:24px; text-align:center;" class="panel" id="selectible">{{data.url}}{{(data.source) ? '?utm_source=' + encodeURIComponent(data.source) : ''}}{{(data.medium) ? '&amp;utm_medium=' + encodeURIComponent(data.medium) : ''}}{{(data.campaignTerm) ? '&amp;utm_term=' + encodeURIComponent(data.campaignTerm) : ''}}{{(data.campaignContent) ? '&amp;utm_content=' + encodeURIComponent(data.campaignContent) : ''}}{{(data.campaignName) ? '&amp;utm_name=' + encodeURIComponent(data.campaignName) : ''}}</textarea>
          <center><button id="buttonChange" onclick="selectible.select(); changeText('buttonChange');">Select URL</button></center>
          <div ng-show="data.ua">
                <!-- this is the quicker way to add the content -->
                <h2 style="text-align:center">
                    Your Tracking Pixel URL
                </h2>
            <div >   
                <textarea rows="1" ng-trim="true" style="font-size:24px; text-align:center;" class="panel" id="selectibleTracking">https://www.google-analytics.com/collect?v=1&t=event&tid={{data.ua}}&ec={{encodeURIComponent(data.campaignName)}}&ea={{encodeURIComponent(data.medium)}}&el={{encodeURIComponent(data.source)}}&ev=1&cb=[CACHEBUSTER]</textarea>
          <center><button id="buttonTracking" onclick="selectibleTracking.select(); changeText('buttonTracking');">Select URL</button></center>

            </div>
          </div>

            </div>
        </div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js">
</script><script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="/js/foundation/foundation.abide.js"></script>
<script type="text/javascript">
function changeText(btnName)
{
 document.getElementById(btnName).innerHTML = 'Ctrl + C to Copy';
}
</script>


    </body>
</html>
